# This is a basic workflow to help you get started with Actions

name: сi-cd

on:
#пайплайн будет запускаться при push и pull_request в ветке main
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  #оставим возможность запускать пайплайн вручную  
  workflow_dispatch:

jobs:
  build-and-test:
  
    runs-on: ubuntu-latest
    
    steps:
      #получаем доступ к коду
      - uses: actions/checkout@v2
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          extensions: imagick, swoole
      - name: Composer update
        run: composer update
        
      #устанавливаем зависимости
      - name: Composer install
        run: composer install
      #очищаем кэш
      - name: Cache clear
        run: php bin/console cache:clear
      #выполняем тестирование
      - name: Unit testing
        run: php ./vendor/bin/phpunit tests/testSimple
        
  deploy-staging:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: staging
    steps:
    - name: deploy staging
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        
        script: |
          cd ${{ secrets.PROJECT_DIR_DEV }}
          cd scripts
          ./build.sh
          
  deploy-prod:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: prod
    steps:
    - name: deploy prod
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        
        script: |
          cd ${{ secrets.PROJECT_DIR_PROD }}
          cd scripts
          ./build.sh
